@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
:root {
  font-family: Quicksand, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #252734;
  cursor: none;
  --fontColor: #ffaf29;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  display: none;
}
.firstPage{
  background-image: url(./assets/pxfuel.jpg);
  display: flex;
  width: 100vw;
  height: 100vh;
  background-size: contain;
}

/* curser style */
.rounded{
  width: 40px;
  position: fixed;
  z-index: 1;
  height: 40px;
  background-color: #1c0c2a;
  box-shadow: 0 0 0.428vw 0 #4cd5fa inset, 0 0 0.428vw 0 #4cd5fa;
  animation: bubble 6s infinite ease-in-out;
  animation-direction: reverse;
  pointer-events: none;
  opacity: 0.6;
}
@keyframes bubble {
  0% {border-radius: 20px 30px 23px 30px}
  10% {border-radius: 23px 30px 23px 30px}
  20% {border-radius: 25px 27px 25px 33px}
  30% {border-radius: 25px 25px 25px 25px}
  40% {border-radius: 34px 25px 34px 25px}
  50% {border-radius: 30px 33px 30px 23px}
  60% {border-radius: 30px 30px 30px 30px}
  70% {border-radius: 30px 30px 30px 40px}
  80% {border-radius: 30px 41px 30px 40px}
  90% {border-radius: 40px 41px 30px 40px}
  100% {border-radius: 40px 41px 40px 40px}
}
.squeezeLeft{
  border-radius: 14px 40px 14px 40px !important;
}
.squeezeUp {
  border-radius: 40px 14px 40px 14px !important;
}
.rounded:hover {
  opacity: 0.6;
}

/* ---------------first page of app---------------- */

.right, .left {
  width: 50%;
}
.right{
  position: relative;
}
.left{
  padding-left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mesHi{
  font-size: 30px;
  font-weight: 600;
  padding-left: 20px;
}
.name{
  font-size: 60px;
  font-weight: 600;
  color: var(--fontColor);
  padding: 0px 0px 10px 20px;
}
.discription{
  width: 60%;
  padding-left: 20px;
}
.fontColor{
  color: var(--fontColor);
}
.secondPage{
  height: 100vh;
}

/* spinning react logo style */
.humanImg{
  position: absolute;
  top: 35%;
  left: 50%;
  height: 180px;
}
.htmlLogo, .JSLogo, .cssLogo, .gitLogo, .linuxLogo, .vsLogo{
  height: 55px;
  position: absolute;
}
.htmlLogo{
  top: 58px;
  left: 108px;
  transform: rotate(326deg);
}
.JSLogo {
  top: 58px;
  left: 251px;
  transform: rotate(28deg);
}
.vsLogo {
  top: 180px;
  left: 30px;
}
.gitLogo {
  bottom: 51px;
  height: 65px;
  right: 110px;
  transform: rotate(148deg);
}
.cssLogo {
  top: 184px;
  right: 51px;
  transform: rotate(91deg);
}
.linuxLogo {
  bottom: 51px;
  height: 70px;
  left: 102px;
  transform: rotate(213deg);
}
.reactLogo{
  height: 420px;
}
.logo {
  height: 420px;
  width: 420px;
  animation: spin 15s linear infinite;
  position: relative;
  top: 15%;
  left: 25%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.slide-in-left {
	animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
	animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.tracking-in-contract-bck-top {
	animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.slide-out-left {
	animation: slide-out-left 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
.slide-out-right {
	animation: slide-out-right 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}