@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
:root {
  font-family: Quicksand, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: #ffffff;
  background-color: #1c1d27;
  cursor: none;
  --fontColor: #ffaf29;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-size: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  display: none;
}

.menuBar, .menuBar>img, .menuBar div{
  position: fixed;
  height: 50px;
  width: 50px;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
}
.menuBarFeedbackBtn, .menuBarAbout{
  background-color: #fff;
  opacity: 0;
}
.menuBarFeedbackBtn img{
  height: 40px;
  padding-left: 7px;
  padding-top: 5px;
  width: 40px;
}
.menuBarAbout img{
  height: 32px;
  padding-left: 9px;
  padding-top: 9px;
}
.showMenu{
  transition: .2s linear;
  transform: rotateZ(45deg);
}
.moveMenuIcon{
  transition: .2s linear;
  bottom: 90px !important;
  opacity: 1;
}
.moveMenuIcon:nth-child(2){
  transition: .2s linear;
  bottom: 150px !important;
  opacity: 1;
}
.roller{
  position: absolute;
  height: 50px;
  width: 50px;
  border: 0px;
  right: 0px;
  top: 50vh;
  opacity: 0;
}
.roller > img{
  height: 50px;
  width: 50px;
  animation: spinReverse 3s linear infinite;
}
@keyframes spinReverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.falling{
  opacity: 1;
  animation: moveUpDown 1.7s linear 0s 1 normal, roll 7s linear 1.7s 1 normal;
}
@keyframes moveUpDown {
  0%{top: 50vh;right: 0px;}
  100%{top: 158vh;}
}
@keyframes roll {
  0%{
    top: 158vh;
    right: 0px;
  }
  25%{
    top: 170vh;
    right: 400px;
  }
  50%{
    top: 181vh;
    right: 800px;
  }
  75%{
    top: 192vh;
    right: 1200px;
  }
  100%{
    top: 202vh;
    right: 1600px;
  }
}
.firstPage{
  background-image: url(./assets/pxfuel.jpg);
  display: flex;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* curser style */
.rounded{
  width: 40px;
  position: fixed;
  z-index: 1;
  height: 40px;
  background-color: #1c0c2a;
  box-shadow: 0 0 0.428vw 0 #4cd5fa inset, 0 0 0.428vw 0 #4cd5fa;
  animation: bubble 6s infinite ease-in-out;
  animation-direction: reverse;
  pointer-events: none;
  opacity: 0.6;
}
@keyframes bubble {
  0% {border-radius: 20px 30px 23px 30px}
  10% {border-radius: 23px 30px 23px 30px}
  20% {border-radius: 25px 27px 25px 33px}
  30% {border-radius: 25px 25px 25px 25px}
  40% {border-radius: 34px 25px 34px 25px}
  50% {border-radius: 30px 33px 30px 23px}
  60% {border-radius: 30px 30px 30px 30px}
  70% {border-radius: 30px 30px 30px 40px}
  80% {border-radius: 30px 41px 30px 40px}
  90% {border-radius: 40px 41px 30px 40px}
  100% {border-radius: 40px 41px 40px 40px}
}
.squeezeLeft{
  border-radius: 14px 40px 14px 40px !important;
}
.squeezeUp {
  border-radius: 40px 14px 40px 14px !important;
}
.rounded:hover {
  opacity: 0.6;
}

/* ---------------first page of app---------------- */

.right, .left {
  width: 50%;
}
.right{
  position: relative;
}
.left{
  padding-left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mesHi {
  font-size: 50px;
  font-weight: 600;
  padding-left: 20px;
}
.name{
  font-size: 80px;
  font-weight: 600;
  color: var(--fontColor);
  padding: 0px 0px 10px 20px;
}
.discription{
  width: 60%;
  padding-left: 20px;
}
.fontColor{
  color: var(--fontColor);
}

/* spinning react logo style */
.humanImg {
  position: absolute;
  top: 38.5%;
  left: 51.5%;
  height: 207px;
}
.htmlLogo, .JSLogo, .cssLogo, .gitLogo, .linuxLogo, .vsLogo{
  height: 75px;
  position: absolute;
}
.htmlLogo {
  top: 80px;
  left: 137px;
  transform: rotate(326deg);
}
.JSLogo {
  top: 84px;
  left: 317px;
  transform: rotate(28deg);
}
.vsLogo {
  top: 229px;
  left: 34px;
}
.gitLogo {
  bottom: 65px;
  height: 97px;
  right: 141px;
  transform: rotate(148deg);
}
.cssLogo {
  top: 235px;
  right: 74px;
  transform: rotate(91deg);
}
.linuxLogo {
  bottom: 54px;
  height: 110px;
  left: 121px;
  transform: rotate(213deg);
}
.reactLogo{
  height: 540px;
}
.logo {
  height: 540px;
  width: 540px;
  animation: spin 15s linear infinite;
  position: relative;
  top: 15%;
  left: 25%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------------------------------- Second Page ---------------------------------- */

.secondPage {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0.47turn, #1c1d27 50%, #32343e 50% 90%);
  gap: 7px;
}
header{
  font-size: 60px;
  font-weight: 600;
  color: var(--fontColor);
  text-align: center;
}

/*                     -------- first project -----------               */
.project1 {
  display: flex;
  align-items: center;
  margin: 25px 0px;
  gap: 10px;
  justify-content: center;
}
.projectCard{
  background-color: #32343e;
  height: 500px;
  border-radius: 10px 10px 0px 0px;
  width: 500px;
  padding: 5px;
}
.projectCard > p{
  font-size: 45px;
  padding: 21px 0px;
  margin: 0px;
  font-weight: bold;
  text-align: center;
}
.projectImg{
  width: 100%;
  position: relative;
  background-color: #cccccc;
  height: 80%;
  padding: .8px;
}
.projectImg > img{
  position: absolute; 
  object-fit: fill;
}
.projectImgScore {
  left: 37px;
  height: 138px;
  width: 219px;
}
.projectImgNavbar{
  height: 99.7%;
}
.projectImgLogin {
  right: 1px;
  height: 138px;
  width: 116px;
}
.projectImgFeedback {
  right: 119px;
  height: 137.5px;
  width: 125px;
}
.projectImgSetting {
  top: 140.5px;
  left: 7.5%;
  height: 170.5px;
  width: 218px;
}
.projectImgGame1 {
  top: 140.5px;
  right: 1px;
  height: 170.5px;
  width: 243px;
}
.projectImgGame2 {
  right: 1px;
  bottom: 0.5px;
  height: 88px;
  width: 92.5%;
}
.description {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  display: flex;
  background-color: #ffaf29eb;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.detail{
  font-size: 20px;
  height: 60%;
  width: 70%;
  text-align: center;
}
.moreDetailbtn {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
}
.circular{
  height:50px;
  width: 50px;
  cursor: none;
  border-radius: 50%;
  background-color: #ffaf29eb;
  border: 3px solid #fff;
}

 /*              -------- second project -----------           */
.projectImg2{
  background-color: var(--fontColor)
}
.projectImgsearch {
  left: 1px;
  height: 37px;
  width: 107px;
}
.projectImgUrl {
  right: 1px;
  height: 37px;
  width: 390.5px;
}
.projectImgfoodHomePage {
  top: 40px;
  left: 1px;
  height: 185px;
  width: 257px;
}
.projectImgdishes {
  left: 1px;
  bottom: 3px;
  height: 68px;
  width: 257px;
}
.projectImgingredient {
  left: 1px;
  bottom: 73px;
  height: 101px;
  width: 257px;
}
.projectImgfoodDis {
  transform: rotate(90deg);
  right: -58px;
  top: 101px;
  height: 238px;
  width: 358px;
}

/* -------------------------------- Third Page ----------------------------------- */

.thirdPage{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/experiencebg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  gap: 30px;
} 
.tataLogo {
  margin-left: 12%;
  height: 148px;
  width: 272px;
}
.card_face > div{
  padding: 7px;
  margin-top: 10px;
  width: 95%;
}
.card_face{
  position: absolute;
  backface-visibility: hidden;
  transition: 1s ease-in-out;
}
.experienceCard:hover {
  transform: rotateY(0.5turn);
}
.experienceCard {
  position: relative;
  border: 2px solid #6d73ff;
  height: 470px;
  width: 24%;
  transition: 1s ease-in-out;
  background-color: #1c0c2a;
  transform-style: preserve-3d;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.experienceDetail{
  width: 100px;
  height: 140%;
  font-size: medium;
  padding-top: 0px;
}
.experienceLocation >img{
  height: 23px;
}
.experienceLocation{  
  display: flex;  
  float: right;
  font-size: 16px;
}
.experienceDate{
  float: left;
  font-size: 17px;
}
.backsideCard{
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(0.5turn);
}

.backsideCard > img{
  height:160px;
  width:368px;
}
.backsideCard img:nth-child(2) {
  height:130px;
}
.backsideCard img:nth-child(3) {
  height:169px;
}


/* -------------------------------- fourth page ----------------------------------- */
.fourPage{
  height:100vh;
  display: flex;
  place-items: center;
  flex-direction: column;
  background: url("https://i.postimg.cc/c1Q3njM0/bg2.jpg");
  background-size: cover;
  animation: animateBg 50s linear infinite;
}
.aboutMePara {
  width: 70%;
  font-size: 18px;
  float: right;
  letter-spacing: 1px;
  margin-top: 43px;
}
.aboutContainer {
  display: flex;
  place-content: center;
  height: 659px;
  width: 60%;
  gap: 20px;
}
.achievement{
  width: 38%;
}
.achivementContent{
  display: flex;
  margin-top:40px;
  gap: 40px;
  place-items: center;
  justify-content: center;
}

.magic-matrix .row {
  display: flex;
  box-shadow: 0 0 0.428vw 0 #4cd5fa inset, 0 0 0.428vw 0 #4cd5fa;
  align-items: center;
  justify-content: space-between;
}
.magic-matrix {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0px;
  width: 216px;
  margin: auto;
  position: relative;
}
.magic-matrix .row > div {
  padding: 18px;
  text-align: center;
}
.matrixDis{
  font-size: 14px;
  text-align: center;
}
.row1, .row2, .row3{
  height: 249px;
  left: 60px;
  top: -10px;
  box-shadow: 0 0 0.428vw 0 #4cd5fa inset, 0 0 0.428vw 0 #4cd5fa;
  border: 1px solid #4cd5fa42;
  position: absolute;
}
.row2{
  left: 120px;
}
.row3{
  left: 180px;
}
.red{
  color: #ffaf29;
}
.tcsRank {
  width: 40%;
  height: 322px;
  font-size: 25px;
  background-image: url(/src/assets/ranking.jpg);
  background-position: center;
  border-radius: 20px;
  background-size: cover;
  text-align: center; 
  color: #1c0c2a;
  padding: 8px;
  font-family: Agbalumo;
}
.rankingImg{
  height: 200px;
}

/* -------------------------------- animations ----------------------------------- */


.slide-out-fwd-center {
	animation: slide-out-fwd-center 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes slide-out-fwd-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}
.bounce-in-right {
	animation: bounce-in-right 1.1s both;
  animation-delay: .7s;
}
@keyframes bounce-in-right {
  0% {
    transform: translateX(600px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(68px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(32px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}
.focus-in-contract {
	animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 0.7em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.slide-in-left {
	animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
	animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.tracking-in-contract-bck-top {
	animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.slide-out-left {
	animation: slide-out-left 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
.slide-out-right {
	animation: slide-out-right 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes animateBg{
  0%,100%{
      transform: scale(1);
  }
  50%{
      transform: scale(1);
  }
}

.stars{
  position: absolute;
  top:50%;
  left:50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
  animation: animate 3s linear infinite;
}
.stars::before{
  content:'';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg,#fff,transparent);
}
@keyframes animate
{
  0%
  {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
  }
  70%
  {
      opacity: 1;
  }
  100%
  {
      transform: rotate(315deg) translateX(-800px);
      opacity: 0;
  }
}
.stars:nth-child(1){
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1s;
}
.stars:nth-child(2){
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}
.stars:nth-child(3){
  top: 80;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
.stars:nth-child(4){
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
.stars:nth-child(5){
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}
.stars:nth-child(6){
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
.stars:nth-child(7){
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}
.stars:nth-child(8){
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}
.stars:nth-child(9){
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}
.stars:nth-child(9){
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}